.bg{
    width: 1260px;
    height: 880px;
    background-color: #edf2c5;
}
.header{
    display: flex;
}
.logo_Vegetables {
    width: 271px;
    height: 42px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin: auto;
    margin-bottom: 8px;
    margin-left: 159px;
    margin-top: 53px;
  }
  .btn-facebook {
    width: 25px;
    height: 25px;
    margin: auto;
    margin-left: 468px;
    margin-top: 61px;
    margin-bottom: 17px;
    border-radius: 3px;
    display: flex;
  }
  .btn-ig {
    width: 25px;
    height: 25px;
    margin: auto;
    margin-left: 10px;
    margin-top: 61px;
    margin-bottom: 17px;
    border-radius: 3px;
    display: flex;
  }
  
  .line_login {  
    width: 1px;
    height: 25px;
    background-color: #778a50;
    margin: auto;
    margin-top: 61px;  
    margin-left: 10px;
    margin-bottom: 17px;
  }
  .btn_LOGIN {  
    width: 60px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #778a50;
    background-color: #edf2c5;
    display: flex;
    margin: auto;
    margin-top: 61px;
    margin-bottom: 17px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: 0px;
    color: #778a50;
    justify-content: center;
    margin-left: 10px;

  }
   .btn_JOIN {
    width: 60px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #778a50;
    background-color: #edf2c5;
    display: flex;
    margin: auto;
    margin-top: 61px;
    margin-bottom: 17px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: 0px;
    color: #778a50;
    justify-content: center;
    margin-left: 10px;
    margin-right: 160px;
  }
  .nav{
    display: flex;
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    margin:auto;
    margin-top: 8px;
    margin-left: 160px;
    margin-right: 160px;
  }
  .nav-list{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
  .nav-list-Home {
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 30px;
  }
  .nav-list-About-Us{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 60px;
 }
  .nav-list-Vegetables {
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 60px;
  }
  .nav-list-Online{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 60px;
  }
  .nav-list-Contact{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 60px;
  }

  .img_main_pumpkin {
    width: 940px;
    height: 448px;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;  
  }
  .box{
      display: flex;
      justify-content: space-between;
  }
  .box-vegetables{
      display: flex;
      width: 445px;
      height: 45px;
      border-radius: 3px;
      background-color: #778a50;
      margin-left: 160px;
      margin-top: 30px;
      align-items:center;
  }

  .box-vegetables-header{
    display: flex;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 30px;
  }
  .box-vegetables-image{
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin-left: 160px;
  }
  .box-vegetables-pepper{
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
 }
 .box-vegetables-carrot{
   width: 140px;
   height: 140px;
   margin: auto;
   margin-top: 15px;
   border-radius: 3px;
}
 .box-vegetables-corn{
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;

 }
 .box-Contact{
    width: 445px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    margin: auto;
    margin-top: 30px;
    margin-right: 160px;
}

.box-Contact-header{
  display: flex;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  margin-left: 30px;
}
  .box-Contact-text{
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 140px;
    border-radius: 3px;
    background-color: #f7fbda;
    margin: auto;
    margin-top: 15px;
    margin-right: 160px;
  }

  .For-any-questions-or-suggestions-about-Vegetables-Vegetables-C {
    width: 410px;
    height: 43px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    margin: auto;
    margin-left: 15px;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .line_contact_text {
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin: auto;
    margin-left: 15px;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 0;
}

  .E-mail-Vegetablesaaabbccccom-PHONE-886-123-456-789 {
    width: 193px;
    height: 31px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    margin: auto;
    margin-left: 15px;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .box-footer {
    display: flex;
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    margin-top: 35px;
    justify-items: center;
    border-radius: 3px;
  }
  .Copyrights-2017-Vegetables-cise-Design-by-Vegetables {
    
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin: auto;
}